@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: rgb(12,127,157);

/*
background: -moz-linear-gradient(0deg, rgba(12,127,157,1) 0%, rgba(8,145,178,1) 50%, rgba(21,94,117,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(12,127,157,1) 0%, rgba(8,145,178,1) 50%, rgba(21,94,117,1) 100%);
  background: linear-gradient(0deg, rgba(12,127,157,1) 0%, rgba(8,145,178,1) 50%, rgba(21,94,117,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c7f9d",endColorstr="#155e75",GradientType=1);
  animation: gradient 5s ease infinite;*/
}


.cream {
  border-color: #F8EDE3;
}

.text-cream {
  color: #F8EDE3; 
}

.cream-darker {
  border-color: #e0d3c6;
}

.bg-cream {
  background-color: #F8EDE3;
}

.bg-cream-darker {
  background-color: #e0d3c6;
}


.filter {
  transition: background-color 0.5s, transform 0.75s;
  transform: scale(1);
}

.filter:hover {
  background-color: #e0d3c6;
  transform: scale(1.1);
}


.fadeIn {
  opacity: 0;
  animation: tagFadeInAnim 1s ease-in-out forwards;
}

.tag {
  transition: background-color 0.5s, transform 0.75s;
  transform: scale(1);
  animation: tagFadeInAnim 1s ease-in-out forwards;
  opacity: 0;
}

.adaptWidthHeight {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.adaptBg {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.adaptScale {
  transition: transform 0.5s ease-in-out;
}

.tag:hover {
  background-color: #e0d3c6;
  transform: scale(1.1);
}

@keyframes tagFadeInAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.transitionShowStack {
  transition: background-color 1s;
}

.corners {
  padding: 15px;
  background:     
  /*top left*/
  linear-gradient(to right, #F8EDE3 4px, transparent 0px) 0 0,
  linear-gradient(to bottom, #F8EDE3 4px, transparent 0px) 0 0,

  
  /*top right*/
  linear-gradient(to left, #F8EDE3 4px, transparent 4px) 100% 0,
  linear-gradient(to bottom, #F8EDE3 4px, transparent 4px) 100% 0,
  
  
  /*bottom left*/
  linear-gradient(to right, #F8EDE3 4px, transparent 4px) 0 100%,
  linear-gradient(to top, #F8EDE3 4px, transparent 4px) 0 100%,


  /*bottom right*/
  linear-gradient(to left, #F8EDE3 4px, transparent 4px) 100% 100%,
  linear-gradient(to top, #F8EDE3 4px, transparent 4px) 100% 100%;;
  
  background-repeat: no-repeat;
  background-size: 100px 100px;
  
}

.corners-bottom {
  background:    
    /*bottom left*/
    linear-gradient(to right, #F8EDE3 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #F8EDE3 4px, transparent 4px) 0 100%,
  
  
    /*bottom right*/
    linear-gradient(to left, #F8EDE3 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, #F8EDE3 4px, transparent 4px) 100% 100%;;
    
    background-repeat: no-repeat;
    background-size: 100px 100px;
}


.accordionHeader {
  animation: accordionHeaderAnim 1s linear forwards
}

@keyframes accordionHeaderAnim {
  0% {
    height: 100vh;
  }
  100% {
    height: 50vh;
  }
}

.showOpacity {
  animation: showOpacityAnim 1s linear forwards;
}

@keyframes showOpacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1vh;
  }
}

.button:hover {
  background-color: #e0d3c6;
}

.showMotd {
  animation: showMotdAnim 2s ease-in-out;
}

@keyframes showMotdAnim {
  0% {
    width: 0%;
    opacity: 0.25;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.border-pointy {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.adaptColor {
  transition: background-color 0.25s linear, border-color 0.25s linear, color 0.25s linear;
}

.adaptWidth {
  transition: width 0.25s linear;
}

.adaptScale {
  transition: transform 0.25s linear;
}

.adaptOpacity {
  transition: opacity 0.75s ease;
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a8978a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4b8ac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0968d;
}


.adaptTranslate {
  transition: transform 2s ease;
}

.translate-100 {
  transform: translateX(0%);
}

.translate-200 {
  transform: translateX(-100vw);
}

.translate-300 {
  transform: translateX(-200vw);
}

.translate-400 {
  transform: translateX(-300vw);
}

.translate-500 {
  transform: translateX(-400vw);
}
